body {
    background: #f1f2f7;
    font-family: 'Open Sans', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/**************** Body Styling ********************/
.main-body {
    background: #f1f2f7;
}

.body-container {
    padding-top: 6rem;
}

.page-nav {
    font-size: 1.2rem;
}

.page-title {
    color: #555;
    font-weight: bold;
    margin-top: 2.5rem;
    font-family: sans-serif;
    margin-bottom: 1.5rem;
}

.main-row {
    margin: 0 5rem;
}

/*** Profile Card with nav ***/
.profile-nav,
.profile-info {
    margin-top: 1.5rem;
}

.profile-nav .user-heading {
    background: orange;
    color: #fff;
    border-radius: .4rem .4rem 0 0;
    -webkit-border-radius: .4rem .4rem 0 0;
    padding: 3rem;
    text-align: center;
}

.profile-nav .user-heading.round a {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1rem solid rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin-bottom: 2rem;
}

.profile-nav .user-heading a img {
    width: 11.2rem;
    height: 11.2rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.profile-nav .user-heading h1 {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: serif;
    margin-bottom: .5rem;
}

.profile-nav .user-heading p {
    font-size: 1.4rem;
}

.profile-nav ul {
    margin-top: .1rem;
}

.profile-nav ul > li {
    border-bottom: .1rem solid #ebeae6;
    margin-top: 0;
    line-height: 3rem;
    width: 100%;
}

.profile-nav ul > li:last-child {
    border-bottom: none;
}

.profile-nav ul > li > a {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #89817f;
    border-left: .5rem solid #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.profile-nav ul > li > a:hover,
.profile-nav ul > li > a:focus,
.profile-nav ul li.active a {
    background: #f8f7f5 !important;
    border-left: .5rem solid #fbc02d;
    color: #89817f !important;
}

.profile-nav ul > li:last-child > a:last-child {
    border-radius: 0 0 .4rem .4rem;
    -webkit-border-radius: 0 0 .4rem .4rem;
}

.profile-nav ul > li > a > i {
    font-size: 1.6rem;
    padding-right: 1rem;
    color: #bcb3aa;
}

/********** Personal Details Styling ************/

.bio-graph-info {
    color: #555;
}

.bio-graph-info h1 {
    font-size: 2.2rem;
    font-weight: 300;
    margin: 0 0 2rem;
}

.bio-row {
    width: 50%;
    float: left;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
}

.bio-row p span {
    width: 10rem;
    display: inline-block;
    font-weight: bold;
    font-size: 1.35rem;
}

.bio-row p {
    font-size: 1.35rem;
}

/************ Recent Orders, Saved Addresses, Wishlist, Saved Cards *************/

h3 {
    font-size: 1.8rem;
    color: #555;
/*    margin-bottom: 1.5rem;*/
}

.row .orders-row {
    display: inline-flex;
    margin-left: .4rem;
    margin-right: 1.2rem;
    margin-top: 1.8rem;
    width: 90%;
    justify-content: flex-start;
}

.recent-orders-img {
    width: 6rem;
    height: 6rem;
    border-radius: .4rem;
    margin-right: 2rem;
    object-fit: cover;
}

.orders-info {
    vertical-align: middle;
}

.recent-orders-h5 {
    font-weight: bold;
    color: #555;
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent-orders-p {
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.address-title {
    margin-bottom: 2rem;
}

.address-row .address-col {
    margin: 1rem .6rem;
    width: 100%;
}

.wishlist-price {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .3rem .8rem;
    background-color: orangered;
    border-radius: .8rem;
    margin-left: .6rem;
}

.file-pos {
    margin: .6rem 0 1rem 0;
}

.profile-activity h5 {
    font-weight: 300;
    margin-top: 0;
    color: #c3c3c3;
}

/**************** Responsive according to device ********************/

@media only screen and (max-width: 1200px) {

    /* General Tablet view */
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width:992px) {

    /* Low res Tablet view */
    html {
        font-size: 50%;
    }

    .recent-orders-h5 {
        font-weight: bold;
        color: #555;
        font-size: 1.6rem;
    }

    .recent-orders-p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 576px) {

    /* Smaller tablet/Large Mobile view */
    html {
        font-size: 45%;
    }

    .body-container {
    padding-top: 2rem;
}

    .profile-nav,
    .profile-info {
        width: 100%;
    }

}

@media only screen and (max-width: 374px) {
    html {
        font-size: 40%;
    }
}
