* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

/********* Main Body Stylng *********/

.search-body {
    margin-top: 7rem;
}

.search-heading {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #555;
}

.search-heading span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #3a3a3a;
}

/*-------------product-top CSS----------------*/

.product-top img {
    width: 100%;
}

.overlay-right {
    display: none;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 7rem;
}

/*
.overlay-right .fa {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 2rem;
    padding: .7rem;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}
*/

/*--------------Product-bottom-CSS---------------*/
.product-bottom {
    margin-top: 1rem;
}

.product-bottom .fa {
    color: orange;
    font-size: 1.4rem;
}

.product-bottom h3 {
    font-size: 2rem;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.new-products {
    margin: 5rem 0;
}

/**************** Responsive according to device ********************/
@media only screen and (max-width: 1024px) {

    /* General Tablet view */
    html {
        font-size: 55%;
    }
}

@media only screen and (max-width:768px) {

    /* Low res Tablet view */
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width: 532px) {

    /* Smaller tablet/Large Mobile view */
    html {
        font-size: 35%;
    }

    .search-body {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 374px) {}
