<!DOCTYPE html>
<html>

<head>
    <!-- StyleSheets -->
    <link rel="stylesheet" href="css/products-main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!---------- Products Section ------------>

    <!-- Featured Categories -->
    <section class="featured-categories">
        <div class="container">
            <div class="title-box">
                <h2>Popular</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 col-4">
                    <a href="/ecommerce/category-products.php"><img src="img/categories1.jpg"></a>
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <a href="/ecommerce/category-products.php"><img src="img/categories2.jpeg"></a>
                </div>
                <div class="col-md-4 col-sm-4 col-4">
                    <a href="/ecommerce/category-products.php"><img src="img/categories3.jpg"></a>
                </div>
            </div>
        </div>
    </section>

    <!-- On sale product -->
    <section class="on-sale">
        <div class="container">
            <div class="title-box">
                <h2>On Sale</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <a href="/ecommerce/product-info.php"><img src="img/onsale1.png"></a>
<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Realme Watch S</h3>
                        <h4><i>(Black Strap, Regular)</i></h4>
                        <h5>$68.00 <del>$79.00</del></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <a href="/ecommerce/product-info.php"><img src="img/onsale2.jpg"></a>
<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>LEVI's</h3>
                        <h4><i>Skinny Men dark blue jeans</i></h4>
                        <h5>$19.99 <del>$24.99</del></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <a href="/ecommerce/product-info.php"><img src="img/onsale3.jpg"></a>
<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Dunkaston</h3>
                        <h4><i>Sneakers for Men (white)</i></h4>
                        <h5>$8.99 <del>$12.99</del></h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <a href="/ecommerce/product-info.php"><img src="img/onsale4.jpg"></a>
<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">
                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Libas</h3>
                        <h4><i>Women printed kurta (Yellow)</i></h4>
                        <h5>$20.00 <del>$25.00</del></h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Exclusive offer section -->
    <section class="exclusive">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="img/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p><b>Exclusively</b> available on ShopYard</p>
                    <h1>MI Smart Band 4</h1>
                    <small>The Mi smart Band 4 features a 39.9% larger (than MI Band 3) AMOLED color full-touch display with adjustable brightness, so everything is clear as can be.</small>
                    <h3>Now only @<del>$59.99</del> $33.99 (You will save: $26.00)</h3>
                    <div>
                        <button>
                        <h5>Buy Now</h5>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- New Products -->
    <section class="new-products">
        <div class="container">
            <div class="title-box">
                <h2>New Arrivals</h2>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new1.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Marks &#38; Spencer</h3>
                        <h4><i>Cropped jeans for girls (6-12 yrs.)</i></h4>
                        <h5>$14.49</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new2.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Manyavar</h3>
                        <h4><i>Printed slik kurta jacket set (Navy Blue)</i></h4>
                        <h5>$49.00</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new3.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Bata</h3>
                        <h4><i>Brown formal shoes for Men</i></h4>
                        <h5>$68.99</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new4.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>Newton</h3>
                        <h4><i>Women analogue watch (blue)</i></h4>
                        <h5>$35.99</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new5.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Woodland</h3>
                        <h4><i>New spring woman shoes (high-heeled)</i></h4>
                        <h5>$79.49</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new6.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <h3>Giny &#38; Jony</h3>
                        <h4><i>Skirt &#38; top kids dress set</i></h4>
                        <h5>$26.39</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new7.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <h3>Rider</h3>
                        <h4><i>Premium leather watch for Men (Brown)</i></h4>
                        <h5>$149.90</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-4 col-6">
                    <div class="product-top">
                        <img src="img/new8.jpg">

<!--
                        <div class="overlay-right">
                            <button type="button" class="btn btn-secondary" title="Quick Shop">

                                <i class="fa fa-eye"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Add to Cart">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
-->
                    </div>
                    <div class="product-bottom text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                        <h3>Urban Forest</h3>
                        <h4><i>Ultimate wallet, card holder &#38; belt combo (Brown)</i></h4>
                        <h5>$300.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
